REDIS_ADDR="localhost:6379"
REDIS_USERNAME=""
REDIS_PASSWORD=""

EMAIL_HOSTNAME="smtp.example.com"
EMAIL_USERNAME="user@example.com"
EMAIL_PASSWORD=""

EMAIL_TITLE="【浅时】验证码"
EMAIL_CONTENT="【浅时】您正在登录/注册浅时平台账号，验证码为：%s，3分钟内有效。注意不要把验证码泄露给其他人。"

VCODE_TTL="180"
VCODE_CD="60"